OPENAI_API_KEY=your_key_here

REDIS_HOST=redis
REDIS_PORT=6379

ALGORITHM=HS256

EMBEDDING_MODEL=text-embedding-3-small
CHAT_MODEL=gpt-4.1-mini

CHROMA_DB_PATH=chroma_db
UPLOAD_DIR=uploads

POSTGRES_USER=-___
POSTGRES_PASSWORD=___
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=docchat_ai

JWT_SECRET_KEY="_____"

ACCESS_TOKEN_EXPIRE_MINUTES=30